div {
    color: aqua;
  }
  /* .pic {
    height: 820px;
    width: 800px;
    border: 2px solid black;
    background-image: url("SAHIL_SALAM.PIC.jpg");
    /* background-image: url("https://images.unsplash.com/profile-1446404465118-3a53b909cc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=3ef46b07bb19f68322d027cb8f9ac99f"); */

   /* background-color: solid green;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;}
     */
     div{
      color: white;
      text-align: center;
      font-size: 1sem;
     }
     .box1{
      width: 250px;
      height: 250px;
      background-color: aquamarine;
      border: 3px solid black;
      display: inline-block;
      background-image: url(ABBU.png);
      background-size: cover;
     }
     .box2{
      width: 250px;
      height: 250px;
      background-color: rgb(165, 127, 255);
      border: 3px solid black;
      display: inline-block;
      background-image: url(BHAI.jpg);
      background-size: cover;
     }
     .box3{
      width: 250px;
      height: 250px;
      background-color: rgb(227, 255, 127);
      border: 3px solid black;
      display: inline-block;
      background-image: url(SAHIL_SALAM.PIC.jpg);
      background-size: cover;
     }