/* div{
            background-color: aqua;
            display: inline;

        }
        button{
            background-color: blueviolet;
            display: block;
        } */
        h1{
            background-color: aqua;
            text-align: center;
            
        }
        .first{
            background-color: orange;
            width: 100px;
            height: 100px;
            margin: 25px;
            padding: 25px;
            display: inline;
        }
        .second{
            background-color: skyblue;
            width: 100px;
            height: 100px;
            margin: 25px;
            padding: 25px;
            display: inline-block;
           
        }
        .third{
            background-color: green;
            height: 100px;
            width: 100px;
            margin: 25px;
            padding: 25px;

            /* display: none; content is deleted and content's space is not reserved */
            /* visibility: hidden;content is hidden and content's space is reserved */
            display: block;
        }