* {
    margin: 0;
    padding: 0;
    color: white;
  }
  nav {
    background-color: #0f1111;
    height: 60px;
    border: 3px solid wheat;
    /* margin-right: 200px; */
  }
  a {
    text-decoration: none;
    margin-right: 200px;
  }
  h1 {
    background-color: rgb(0, 255, 166);
    text-align: center;
  }
  #amazon{
    font-size: 25px;
    color: #f08804;
  }
  #button{
    color: #f08804;
  }
  input{
    color: skyblue;
  }
  img{
    height:600px;
    weight:1350px;
    
  }